*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}


.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    padding: 10px;
}

.to-do {
    width: 100%;
    max-width: 540px;
    background-color: #ffcece;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.to-do h2 {
    color: #702283;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.to-do h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#cf7979 ;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    text-decoration: line-through;
    color: #999;
}

ul li.checked::before {
    background-image: url(images/check.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #999;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #702283;
}